.nav {
  position: relative;
  display: flex;
  background: rgb(24, 23, 23);
  justify-content: space-between;
  padding: 0 50px 0px 15px;
  column-gap: 20px;

  img {
    width: 50px;
  }
}

nav a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.search {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  input {
    padding-left: 8px;
    height: 30px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
  }

  img {
    width: 20px;
    position: absolute;
    margin-right: 10px;
  }
}

.menu {
  color: white;
  list-style: none;
  display: flex;
  column-gap: 30px;
  margin-top: auto;
  li span {
    background: white;
    color: rgb(24, 23, 23);
    padding: 5px 10px;
    border-radius: 8px;
  }

  li span:hover {
    color: #c78c19;
    text-decoration: underline;
  }
}
